@import "../../colors.scss";

.markdown-preview-view {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 24px;
    margin-bottom: 16px;
    font-weight: 600;
    line-height: 1.25;
    color: $text-primary;
    display: block;
    align-items: center;
    white-space: pre-wrap;
	border-bottom: 1px solid;
    padding-bottom: 0.3em;
  }

  h1 {
    font-size: var(--font-h1-preview-size);
	color: $yellow-neon;
	border-bottom-color: rgba($yellow-neon,0.25);
}

h2 {
	font-size: var(--font-h2-preview-size);
	color: $teal;
	border-bottom-color: rgba($teal,0.25);
}

h3 {
	font-size: var(--font-h3-preview-size);
	color: $yellow;
	border-bottom-color: rgba($yellow,0.25);
}

h4 {
	font-size: var(--font-h4-preview-size);
	color: $pink;
	border-bottom-color: rgba($pink,0.25);
}

h5 {
	font-size: var(--font-h5-preview-size);
	color: $aqua;
	border-bottom-color: rgba($aqua,0.25);
}

h6 {
	font-size: var(--font-h6-preview-size);
    color: $text-gray;
	border-bottom-color: rgba($text-gray,0.25);
  }

//   h1,
//   h2 {
//     padding-bottom: 0.3em;
//     border-bottom: 1px solid rgba($indigo, 0.25);
//   }

  .heading-collapse-indicator {
    color: $indigo;
  }
}
